* {
  padding: 0px;
  margin: 0px;
}
.top {
  position: sticky;
  /* right: 0; */
  top: 0;
  background-color: white;
  height: 45px;
  padding-bottom: 30px;
}
.le-op img {
  height: 30px;
  width: 30px;
  margin-top: 5px;
}
.top h3 {
  position: fixed;
  margin-top: -10px;
  justify-content: center;
}
.top .top_end {
  position: fixed;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  right: 0;
  margin-right: 20px;
}
.top .top_end i {
  color: rgba(79, 99, 103, 1);
  font-size: 25px;
  margin-top: 8px;
  margin-right: 5px;
  margin-left: 5px;
}
.top .top_end h4 {
  color: rgba(79, 99, 103, 1);

  font-family: " Inter";
  font-style: "Regular";
  font-size: " 12px";
  line-height: " 22.4px";
  vertical-align: " Top";
  margin-top: 7px;
}
.vl {
  border-right: 3px solid rgba(79, 99, 103, 1);
  width: 1px;
  height: 40px;
  margin-left: 8px;
  margin-right: 8px;
}
.products {
  display: flex;
  /* justify-content: center !important; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}
.card_main i {
  font-size: 20px;
  margin-left: 5px;
}
.card_main .last {
  float: right;
  margin-right: 10px;
}
.card_main span {
  font-size: 18px;
  font-family: "Cera Pro";
}
.graphtop_graph .btn-right {
  margin-left: auto;
  background-color: rgba(52, 150, 224, 1);
  color: white;
  padding: 7px 14px 7px 14px;
  width: 44px;
  border: 0px solid black;
  border-radius: 4px;
  text-align: center;
}
.btn-right {
  margin-top: 30px;
  /* width: 50px; */
}
.day {
  display: flex;
}
.day hr {
  width: 30px;
  border: 5px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  background-color: rgba(186, 0, 0, 1);
  height: 4px;
}
